body{
    margin: 0 0;
}
.font-size{
    font-weight: 500;
    font-size: large;
    
}
h1{
    font-size: 40px;
}
span{
    color: rgb(211, 38, 26);
}

section{
    
    width: 80%;
    margin: 0 auto;
}
section{
    display: flex;
    margin: 80px auto;
    justify-content: space-between;
}

.half-width{
    width: 47%;
   
}
.half-width img{
    width: 100%;
}
#border-design{
    border-left: 5px solid rgb(67, 65, 199);
    padding-left: 5px;
}

.text-center{
    text-align: center;
    margin-top: 100px;
}
.box-size{
    width: 300px;
    height: 300px;
    margin-top: 15px;
    border-radius: 10px;
    padding: 15px;
}
.box-size img{
    width: 100px;
}
.Last-box{
    width: 30%;
    background-color: wheat;
    box-shadow: 0 0 5px  rgb(26, 27, 27);
    font-size: larger;
    padding: 25px;
    border-radius: 15px;
}

.new-section{
    display: flex;
    justify-content: space-evenly;
}
#section-margin{
    margin-top: 100px;
}
#last-section{
    
    margin-top: 100px;
}

.radius img{
    border-radius: 20px;
}

.button-design{
    background-color: rgba(235, 48, 179, 0.712);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: hsl(348, 100%, 1%);
}

#mission{
    background-color: wheat;
}
#vission{
    background-color: rgb(115, 236, 236);
}
#goals{
    background-color: rgba(116, 228, 163, 0.712);
}
.footer{
    background-color: darkblue;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd);
    margin-top: 200px;
    font-weight: bold;
    padding: 5px;
    color: burlywood;
}